# .gitignore
venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
htmlcov/

transactions.db
dummy_transactions.csv
.DS_Store

.env
.env.*
transaction-api-key/
*.pem

**/.terraform/

*.tfstate
*.tfstate.backup

*.tfvars
*.tfvars.json

.terraform.lock.hcl

terraform_key
terraform_key.pub
new_tf_key
new_tf_key.pub

.vscode/ 
.idea/
docker-compose.override.yml

