# .gitignore

venv/
__pycache__/
*.pyc
.pytest_cache/
transactions.db
dummy_transactions.csv

.DS_Store
.env
.env.*

.vscode/ 
.idea/

.coverage
htmlcov/

docker-compose.override.yml

transaction-api-key/
*.pem

.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

