# docker-compose.yml
version: '3.8'

services:
  # 1. LIVE APP SERVICES (For running the API)
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: transactions_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d transactions_db"]
      interval: 5s
      timeout: 5s
      retries: 5

  web:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app  # Syncs code changes instantly (Hot Reload)
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: postgresql://user:password@db:5432/transactions_db
    depends_on:
      db:
        condition: service_healthy

  # 2. TEST SERVICES (For CI/Automated Checks)
  test-db:
    image: postgres:15
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: test_transactions_db
    # don't map ports here to avoid conflict with the main db on 5432
    # This DB is internal to Docker network only
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d test_transactions_db"]
      interval: 5s
      retries: 5

  tests:
    build: .
    volumes:
      - .:/app
    environment:
      # Connects to 'test-db' service, NOT 'db' service
      TEST_DATABASE_URL: postgresql://user:password@test-db:5432/test_transactions_db
    depends_on:
      test-db:
        condition: service_healthy
    command: pytest tests/ -v

volumes:
  postgres_data:

